<div class="countryDetailsDiv  d-flex align-items-center justify-content-center flex-column "
  [ngClass]="{'d-none': !openCountryDetails}">
  <div class="div1 w-100 vh-100  d-flex flex-column justify-content-center">
    <div>
      <button class="col-6 offset-1 col-md-4 offset-md-1 col-lg-2 offset-lg-1  btn btn-light rounded-1 border-0 my-3" (click)="openCountryDetails = !openCountryDetails"> <i
          class="bi bi-arrow-left"></i>back</button>
    </div>
    <app-country-details [dark]="dark" [country]="countryDetails"></app-country-details>

  </div>
</div>

<nav class=" bg-white w-100 position-sticky fixed-top  py-2 mb-5 ">
  <div class=" container d-flex align-items-center justify-content-between px-3">
    <p class=" fw-bold fs-4">Where in the world</p>
    <div>
      <p #mood class=" cursorPointer" (click)="changeMood()"><i [ngClass]="dark?'bi-sun':'bi-moon'" class="bi me-2"></i>{{theMood}}</p>
    </div>
  </div>
</nav>

<section class=" container filter">
  <div class="row d-flex align-items-center justify-content-between px-3">
    <input type="text" (keyup)="searchByName()" [(ngModel)]="nameCountry" class=" border-0 px-3 py-2 rounded-1 col-12 col-md-4 "
      placeholder="Search for a country">

    <div class=" col-12 col-md-2 d-flex justify-content-end justify-content-md-start p-0 mt-2 mt-md-0">
      <div class="dropdown">
        <button class="btn dropdown-toggle rounded-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Filter by Region
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item region" (click)="filterByRegion($event)">All</a></li>
          <li><a class="dropdown-item region" (click)="filterByRegion($event)">Africa</a></li>
          <li><a class="dropdown-item region" (click)="filterByRegion($event)">America</a></li>
          <li><a class="dropdown-item region" (click)="filterByRegion($event)">Asia</a></li>
          <li><a class="dropdown-item region" (click)="filterByRegion($event)">Europe</a></li>
          <li><a class="dropdown-item region" (click)="filterByRegion($event)">Oceania</a></li>
        </ul>
      </div>
    </div>

  </div>
</section>

<section class=" mt-4 ">
  <div class=" container">
    <div class="row">
      <div *ngFor="let country of countries" [ngClass]="{'d-none': country.name.common=='Israel'}"
        class=" col-12 col-sm-6 col-md-4 col-lg-3 px-3 my-4 countryCard cursorPointer" (click)="countryDetails = country"
        (click)="openCountryDetails = !openCountryDetails">
        <div class="countryImg" style="background-image: url({{country.flags.png}})"></div>
        <div class="p-3 countryDetails ">
          <h5>{{country.name.common}}</h5>
          <p class="fw-bold">Population: <span class=" fw-normal opacity-75">{{country.population}}</span></p>
          <p class="fw-bold">Region: <span class=" fw-normal opacity-75">{{country.region}}</span></p>
          <p class="fw-bold">Capital: <span class=" fw-normal opacity-75">{{country.capital}}</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
