@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;300;500;700;900&display=swap');

body{
  background-color:  hsl(0, 0%, 98%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Montserrat Alternates', sans-serif !important;
  transition: 0.1s;
}
input,button{
  outline: none !important;
  border: 0;
}
p{
  margin: 0;
}

.cursorPointer{
  cursor: pointer !important;
  z-index: 1;
}
// .w-90{
//   width: 90%;
// }
// .bg{
//   background-position: center;
//   background-size: contain;
//   background-repeat: no-repeat;
// }
